<div class="dashboard-wrapper" dir="rtl">
  <div class="top-stats-grid">
    <div class="stat-card orange">
      <span>إجمالي الوظائف</span>
      <h2>{{ totalVacancies }}</h2>
    </div>
    <div class="stat-card green">
      <span>المتقدمين</span>
      <h2>{{ advancedCandidates }}</h2>
    </div>
    <div class="stat-card dark-green">
      <span>معدل قبول العرض</span>
      <h2>{{ oarRate }}%</h2>
    </div>
  </div>

  <div class="main-content-grid">
    
    <div class="content-card">
      <h3>
        <span>توزيع المرشحين حسب الوظيفة</span>
      </h3>
      <div class="skill-item" *ngFor="let skill of jobSkillsStats">
        <div class="skill-info">
          <div class="avatar-circle">{{ skill.title[0] }}</div>
          <div class="can-details">
            <p class="name">{{ skill.title }}</p>
          </div>
        </div>
        <span class="count">{{ skill.count }}</span>
      </div>
    </div>

    <div class="content-card">
      <h3>
        <span>حالة عرض العمل</span>
      </h3>
      <div class="chart-container">
        <canvas baseChart
          [data]="pieChartData"
          [options]="pieChartOptions"
          [type]="'pie'">
        </canvas>
      </div>
    </div>

    <div class="content-card">
      <div class="header-flex">
        <h3>
          <span>أحدث المرشحين</span>
          <a href="#">عرض الكل</a>
        </h3>
      </div>
      <div class="candidate-row" *ngFor="let can of recentCandidates">
        <div class="skill-info">
          <img [src]="can.profile_image" 
               (error)="handleImageError($event)" 
               class="avatar-img">
          <div class="can-details">
            <p class="name">{{ can.full_name }}</p>
            <p class="title">{{ can.display_title }}</p>
          </div>
        </div>
        <span class="count">#{{ can.id }}</span>
      </div>
    </div>

  </div>
</div>