<div class="login-wrapper">
  <div class="login-card">
    <h2>
      Welcome To <br>
      <span>Solid Soft HR Management</span>
    </h2>

    <p class="subtitle">Sign in to continue</p>

    <div *ngIf="errorMessage" class="error-message">
      <p>{{ errorMessage }}</p>
    </div>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="input-group">
        <label for="email">البريد الإلكتروني</label>
        <input 
          type="email"
          id="email"
          placeholder="Email"
          formControlName="email"
          [class.invalid]="loginForm.controls['email']?.invalid && loginForm.controls['email']?.touched">
      </div>
      <div *ngIf="loginForm.controls['email']?.invalid && loginForm.controls['email']?.touched" class="error-message">
        البريد الإلكتروني مطلوب ويجب أن يكون صحيحًا.
      </div>

      <div class="input-group">
        <label for="password">كلمة المرور</label>
        <input 
          type="password"
          id="password"
          placeholder="Password"
          formControlName="password"
          [class.invalid]="loginForm.controls['password']?.invalid && loginForm.controls['password']?.touched">
      </div>
      <div *ngIf="loginForm.controls['password']?.invalid && loginForm.controls['password']?.touched" class="error-message">
        كلمة المرور مطلوبة.
      </div>

      <button type="submit" [disabled]="loginForm.invalid">
        تسجيل الدخول
      </button>
    </form>
  </div>
</div>